$base: #303030;
$mantle: #3f3f3f;
$crust: #191919;
$text: #fff;
$highlight-primary: #6b0080;
$highlight-secondary: #4c005c;

$link-unvisited: cornflowerblue;
$link-visited: mediumorchid;
$link-hover: initial;
$link-active: darkorange;

@mixin link-style {
  a {
    &:link {
      text-decoration: none;
      color: $link-unvisited;
    }
    &:visited {
      color: $link-visited;
    }
    &:hover {
      text-decoration: underline;
    }
    &:active {
      color: $link-active;
    }
  }
}
