@font-face {
  font-family: "Cooper Black Regular";
  src: url("/fonts/Cooper-Black-Regular/Cooper-Black-Regular.ttf");
}

.webrings {
  text-align: center;
  margin: 1em 0;
  p {
    margin-block-start: 0;
  }
  .garfring {
    > div {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.3em;
      margin: 0.1em;
    }

    display: grid;
    grid-template-columns: 1fr 3fr 1fr;

    border: 0.2em dashed black;
    border-radius: 0.3em;

    font-size: x-large;
    font-family: "Cooper Black Regular", sans-serif;

    background: #ff9c31;

    a {
      color: black;
    }

    &--controls {
      font-size: smaller;
      border-radius: 0.3em;
      border: 0.2em solid black;
      background: #ffffa5;
    }
  }
}

.buttons p {
  display: flex;
  flex-flow: row wrap;
  a {
    margin: 2px;
  }
}
