@use "resets";
@use "colors";
@use "index";

$breakpoint-med: 640px;
$breakpoint-large: 2 * $breakpoint-med;

body {
  background: colors.$base;
  color: colors.$text;
  font-family: Arial, "Liberation Sans", Helvetica, sans-serif;
}

nav {
  width: 100%;
  height: auto;
  overflow: auto;
  background: colors.$crust;
  > a {
    text-align: center;
    display: block;
    color: colors.$text;
    float: left;
    padding: 1em;
    text-decoration: none;
    &:hover {
      background: colors.$mantle;
    }
    &.nav-active {
      background: colors.$highlight-primary;
    }
  }
}

main {
  padding: 0 1em;
  @include colors.link-style;
  display: grid;
  grid-template-columns:
    1fr
    min(85ch, 100%)
    1fr;
  > * {
    grid-column: 2;
  }
}

%full-bleed {
  width: 100%;
  grid-column: 1 / -1;
}

.full-bleed {
  @extend %full-bleed;
}

table {
  margin: 1em 0;
  caption {
    font-size: large;
  }
  tr {
    vertical-align: top;
    &.odd {
      background-color: colors.$mantle;
    }

    th,
    td {
      padding: 0.4em;
      border: 1px solid gray;
    }
  }
}

.gallery {
  @extend %full-bleed;
  p {
    margin: 0 5%;

    img {
      margin: auto;
      width: 100%;
      padding: 0.3em;
    }

    @media screen and (min-width: $breakpoint-med) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin: 0 10%;
    }

    @media screen and (min-width: $breakpoint-large) {
      grid-template-columns: 1fr 1fr 1fr;
      margin: 0 15%;
    }
  }
}

footer {
  @include colors.link-style;
  text-align: center;
  padding: 1em;
}

p > code,
li > code {
  background: colors.$crust;
  font-size: smaller;
}

.footnote-ref > sup {
  &:before {
    content: "[";
  }
  &:after {
    content: "]";
  }
}

.footnote-back:before {
  content: " ";
}

pre.sourceCode {
  background: colors.$crust;
  overflow-x: auto;
  code.sourceCode {
    .co {
      font-style: italic;
      color: gray;
    }
    .op {
      color: darkgray;
    }
    .va {
      color: orange;
    }
    .kw {
      color: mediumorchid;
    }
    .cn {
      color: palevioletred;
    }
    .st {
      color: greenyellow;
    }
    .dt {
      color: palegreen;
    }
    .ot {
      color: lightseagreen;
    }
  }
}
